@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  font-family: "Manrope", sans-serif;
  color: #48556a;
  background-color: #ecf2f8;
  font-size: 13px; }
